<html>

<head>
  <title>Exam </title>
  <script src="/socket.io/socket.io.js"></script>
</head>

<body>
  <h1>Partie</h1>
  <div id="messages"></div>
  <br id="form" action="" onsubmit="return false;">
    <label for="nomP">Nom partie:</label>
    <input id="nomP" /><br></br>
    <label for="joueur1">joueur 1:</label>
    <input id="joueur1" /><br></br>
    <label for="joueur2">joueur 2:</label>
    <input id="joueur2" /><br></br>

    <button onclick="create()">Envoyer</button><br></br>
    <button onclick="send()">Afficher stat</button>
    <p id="typ"></p>
  </form>

  <script>
    const socket = io.connect();
   // var nom = prompt("Taper votre nom");
    // if (nom != null && nom != "") {
    //   socket.emit("new-user", nom + " est connecté");
    // }
    // else {
    //   alert("Veuillez entrer un nom");
    // }
    // socket.on("new-user", (data) => {
    //   const p = document.createElement("p");
    //   p.innerText = data;
    //   document.body.append(p);
    // });


    socket.on("newMessage", (data) => {
      p = document.createElement("p")
      p.innerText = (data.pseudo + ":" + data.message)
      p.id = data._id
      document.body.append(p)
      b = document.createElement("button")
      b.innerText = "Supprimer"
      b.onclick = function () {
        socket.emit("deleteMessage", data._id)
      }
      p.append(b)
    })
    socket.on("removeMessage", (id) => {
      p=document.getElementById(id)
      p.remove()
    })


    function typing() {
      socket.emit("typing", nom);
    }
    socket.on("typing", (data) => {
      const typingMessage = document.getElementById("typ");
      typingMessage.innerText = nom + " is typing...";

      setTimeout(() => {
        typingMessage.remove();
      }, 1000);
    })

    function send() {
      var message = document.getElementById("input").value;
      socket.emit("sendMessage", {
        pseudo: nom,
        message: message
      })

    }
    function create(){
      var nomP= document.getElementById("nomP").value;
      var joueur1 = document.getElementById("joueur1").value;
      var joueur2 = document.getElementById("joueur2").value;
      socket.emit("createPartie",{
        nom:nomP,
        joueur1:joueur1,
        joueur2:joueur2
      })
    }
    socket.on("nouvPartie",(data)=>{
      console.log(data)
      liN = document.createElement("p")
      liN.innerText = (data.nom)
      document.body.append(liN)
      li1 = document.createElement("p")
      li1.innerText = (data.joueur1)
      document.body.append(li1)
      li2 = document.createElement("p")
      li2.innerText = (data.joueur2)
      document.body.append(li2)

        })


    fetch('/chat/messages')
      .then(response => response.json()) // Parse the response as JSON
      .then(data => {
        // Iterate over the messages and create list items to display them
        data.forEach(message => {
            const p = document.createElement("p");
     p.id = message._id;
  p.innerText = message.pseudo + ": " + message.message;

document.body.appendChild(p);
        });
      })
      .catch(error => {
        console.error('Error:', error);
      });
  </script>
</body>

</html>